.category{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding: 10px; */
    flex-direction: column;
    width: 300px;
    margin: 10px;
    position: relative;
}

.img{
    width: 100%;
    height: auto;
}

.nameContainer{
    position: absolute;
    top: 0;
    left: 10px;
}

.name{
    font-size: 24px;
    line-height: 130%;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

.job{
    color: #fff;
}