.container{
    width: 100vw;
    height: 100vh;
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
}

.carouselContainer{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.card{
   width: 100px;
   height: 100%;
   /* border: 1px solid red; */
}

.image{
    width: 1000px;
    /* height: 100%; */
    height: auto;
    border-radius: 10%;
    z-index: 0;
}

.popularFreelancers{
    /* border: 1px solid red; */
    color: #404145;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.categories{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

.categoryContainer{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.categoryContainer:hover{
    color: rgb(72, 72, 72);
}


.addCategory{
    /* border: 1px solid blue; */
    width: 300px;
    height: 345px;
    border-radius: 10px;
    margin: 10px;
    background-color:rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCategoryText{
    font-size: 15px;
}

.addCategoryImgCont{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.addCategoryImg{
    width: 100px;
}

.customizeAccContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.customizeAccInnerCont{
    /* border: 1px solid blue; */
    width: 80%;
    display: flex;
}

.gif{
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.customizeAccText{
    /* border: 3px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #404145;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    flex-direction: column;
}

/* CSS */
.customizeAccButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.customizeAccButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.customizeAccButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.customizeAccButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media only screen and (max-width: 1230px) {
    .categories{
        grid-template-columns: auto auto auto ;
    }
}

@media only screen and (max-width: 930px) {
    .categories{
        grid-template-columns: auto auto ;
    }
}

@media only screen and (max-width: 700px) {
    .categories{
        grid-template-columns: auto ;
    }
}

@media only screen and (max-width: 530px) {
    .categories{
        grid-template-columns: auto;
    }
}