.container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 10px;
    width: 200px;
    height: 350px;
    box-shadow: 0px -1px 13px 0px rgba(175, 168, 168, 0.75);
-webkit-box-shadow: 0px -1px 13px 0px rgba(212,202,202,0.75);
-moz-box-shadow: 0px -1px 13px 0px rgba(212,202,202,0.75);
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s;
}

.container:hover{
    box-shadow: -2px 2px 23px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 23px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 23px -5px rgba(0,0,0,0.75);

    transition: 0.3s;
}

.imgContainer{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.name{
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
}