.container{
    /* border: 1px solid red; */
    width: 100vw;
}

.main{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.innerContainer{
    /* border: 1px solid red; */
    width: 80%;
}

.categoryContainer{
    /* border: 1px solid blue; */
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category{
    color: #404145;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.houseIcon{
    color: black;
    font-size: 14px;
}

.slash{
    color: #c5c6c9;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
}

.jobNameContainer{
    /* border: 1px solid red; */
    padding: 10px;
    /* background-color: white; */
}

.jobName{
    color: #222325;
    font-size: 32px;
    font-weight: 700;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.modeContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.modeFreelancer{
    /* border: 1px solid #7246E5; */
    background-color:#7246E5;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.modeClient{
    border: 1px solid#7246E5;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #7246E5;
    font-size: 15px;
    font-weight: 500;
}

.postContainer{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.freelancerClientContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1235px) {
    .postContainer{
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 1210px) {
    .postContainer{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 910px) {
    .postContainer{
        grid-template-columns: auto auto;
    }
}

@media only screen and (width<=900px) {
    .postContainer{
        grid-template-columns: auto;
    }
}