.container{
    /* border: 1px solid red; */
    width: 100vw;
    position: relative;
}

.main{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.innerContainer{
    /* border: 1px solid red; */
    width: 80%;
}

.categoryContainer{
    /* border: 1px solid blue; */
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category{
    color: #404145;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.houseIcon{
    color: black;
    font-size: 14px;
}

.slash{
    color: #c5c6c9;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
}

.jobNameContainer{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    /* background-color: white; */
}

.addPostContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    z-index: 15;
}

.addPostImage{
    width: 40px;
    height: auto;
    display: flex;
}

.jobName{
    color: #222325;
    font-size: 32px;
    font-weight: 700;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.modeContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.modeFreelancer{
    /* border: 1px solid #7246E5; */
    background-color:#7246E5;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.modeClient{
    border: 1px solid#7246E5;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #7246E5;
    font-size: 15px;
    font-weight: 500;
}

.postContainer{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.freelancerClientContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.freelancerClient{
    /* border: 1px solid blue; */
    text-decoration: none;
    color: black;
}


/* //// */


.createPostContainer{
    /* border: 10px solid red; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.createPostContainerInvisible{
    opacity: 0;
    z-index: -10;
}

.innerCreatePostContainer{
    /* border: 10px solid blue; */
    position: fixed;
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitePost{
    /* border: 10px solid green; */
    width: 400px;
    height: 500px;
    background:rgba(255, 255, 255,1);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.createPostInput{
    background-color: white;
    border: 1px solid grey;
    margin: 10px;
}

.createPostInputMoney{
    background-color: white;
    width: 100px;
    border: 1px solid grey;
    margin: 10px;
}

.createPostFile{
    background-color: white;
    height: 30px;
}

textarea{
    resize: vertical;
    width: 355px;
    min-height: 150px;
    max-height: 250px;
    margin: 10px;
}

.createPostButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.createPostButton:hover,
.createPostButton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.createPostButton:hover {
  transform: translateY(-1px);
}

.createPostButton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.whitePostTop{
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
}

.returnIcon{
    position: absolute;
    left: 20px;
    font-size: 25px;
}

@media only screen and (max-width: 1640px) {
    .postContainer{
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 1308px) {
    .postContainer{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 980px) {
    .postContainer{
        grid-template-columns: auto auto;
    }
}

@media only screen and (width<=900px) {
    .postContainer{
        grid-template-columns: auto;
    }
}