.container{
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    /* border: 1px solid red; */
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.logoContainer{
    /* border: 1px solid blue ; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 200px;
    height: auto;
}

.main{
    border: 1px solid #d6d6d6;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.bigText{
    color: #3c3c3c;
    font-family: 'Gowun Batang',Georgia,"Times New Roman",Times,serif;
    font-weight: 500;
    font-size: 25px;;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.socialContainer{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.facebook{
    width: 370px;
    height: 40px;
    background-color: #3669b7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    margin-top: 2%;
}

.google{
    border: 1px solid rgb(191, 191, 191);
    width: 370px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    margin: 2%;
}

.apple{
    width: 370px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    margin-bottom: 2%;
}

.Icon{
    color: white;
    font-size: 20px;
}

.socialText{
    color: white;
    margin-left: 2%;
    font-weight: 400;
}

.socialTextBlack{
    color: black;
    margin-left: 2%;
    font-weight: 400;
}

.lineContainer{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.lineText{
    color: #898989;
}

.line{
    width: 42%;
    border:1px solid  #ded2ff;
    margin: 0.5%;
}

.login{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    border: 1px solid #ded2ff;
    padding: 5px;
    padding-left: 10px;
    width: 355px;
    height: 40px;
    font-size: 14px;
    color: #3c3c3c;
    border-radius: 10px;
    margin: 1%;
}

.inputErr{
    border: 1px solid red;
    padding: 5px;
    padding-left: 10px;
    width: 355px;
    height: 40px;
    font-size: 14px;
    color: #3c3c3c;
    border-radius: 10px;
    margin: 1%;
}

.inputPassword{
    border: 1px solid #ded2ff;
    padding: 5px;
    padding-left: 10px;
    width: 355px;
    height: 40px;
    font-size: 14px;
    color: #3c3c3c;
    border-radius: 10px;
    /* margin: 1%; */
}

.inputPasswordErr{
    border: 1px solid red;
    padding: 5px;
    padding-left: 10px;
    width: 355px;
    height: 40px;
    font-size: 14px;
    color: #3c3c3c;
    border-radius: 10px;
    /* margin: 1%; */
}

.errDivVisible{
    color: red;
    opacity: 1;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

.errDivInvisible{
    width: 0px;
    height: 0px;
    opacity: 0;
}


.passwordContainer{
    position: relative;
  }

.eyeIconContainer{
    position: absolute;
    color: #ded2ff;
    font-size: 23px;
    top: 25%;
    right: 3%;
}

.eyeShow{
    width: 100%;
}

.eyeHide{
    width: 0;
}

.forgotPasswordCont{
    /* border: 1px solid blue; */
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
}

.forgotPassword{
    color: black;
    font-size: 11.9px;
    font-weight: 600;
}

.buttonContainer{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
  
.button{
    border: none;
    background-color: #7246E5;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 400;
    color: white;
    width: 150px;
    padding: 12px;
}

.lineLong{
    width: 360px;
    border:1px solid  #ded2ff;
    margin-top:3%;
}

.loggedinContainer{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.text{
    margin-right: 1%;
    font-size: 14px;
    line-height: 1.4;
    color: #3c3c3c;
    font-weight: 500;
}