.container{
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.leftSide{
  /* border: 1px solid blue; */
  width: 67%;
  height: 100%;
}

.rightSide{
  /* border: 1px solid red; */
  width: 33%;
  height: 100%;
  background-image: url("../assets/abstract.png ");
  background-size: cover;
}

.header{
  /* border: 1px solid red; */
  width: 100%;
  height: 10%;
  box-shadow: 2px -1px 10px -3px rgba(0,0,0,0.7);
  -webkit-box-shadow: 2px -1px 10px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px -1px 10px -3px rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
}

.logoDiv{
  /* border: 1px solid blue; */
  /* width: 15%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.logo{
  width: 100px;
}

.logoSmall{
  width: 42px;
}

.main{
  /* border: 1px solid red; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bigText{
  color: #3c3c3c;
  font-family: 'Gowun Batang',Georgia,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 32px;
}

.socialContainer{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.facebook{
  width: 400px;
  height: 40px;
  background-color: #3669b7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  margin-top: 1%;
}

.google{
  border: 1px solid rgb(191, 191, 191);
  width: 400px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  margin: 1%;
}

.apple{
  width: 400px;
  height: 40px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  margin-bottom: 1%;
}

.Icon{
  color: white;
  font-size: 20px;
}

.socialText{
  color: white;
  margin-left: 2%;
  font-weight: 400;
}

.socialTextBlack{
  color: black;
  margin-left: 2%;
  font-weight: 400;
}

.lineContainer{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lineText{
  color: #898989;
}

.line{
  width: 18%;
  border:1px solid  #ded2ff;
  margin: 0.5%;
}

.lineLong{
  width: 40%;
  border:1px solid  #ded2ff;
  margin-bottom:1.5%;
}

.signupContainer{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input{
  border: 1px solid #ded2ff;
  padding: 5px;
  padding-left: 10px;
  width: 400px;
  height: 40px;
  font-size: 14px;
  color: #3c3c3c;
  border-radius: 10px;
  margin: 1%;
}

.inputErr{
  border: 1px solid red;
  padding: 5px;
  padding-left: 10px;
  width: 400px;
  height: 40px;
  font-size: 14px;
  color: #3c3c3c;
  border-radius: 10px;
  margin: 1%;
}

.inputPassword{
  border: 1px solid #ded2ff;
  padding: 5px;
  padding-left: 10px;
  width: 400px;
  height: 40px;
  font-size: 14px;
  color: #3c3c3c;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.inputPasswordErr{
  border: 1px solid red;
  padding: 5px;
  padding-left: 10px;
  width: 400px;
  height: 40px;
  font-size: 14px;
  color: #3c3c3c;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.passwordContainer{
  position: relative;
}

.eyeIconContainer{
  position: absolute;
  color: #ded2ff;
  font-size: 23px;
  top: 30%;
  right: 3%;
}

.eyeShow{
  width: 100%;
}

.eyeHide{
  width: 0;
}

.errDivVisible{
  color: red;
  opacity: 1;
  font-size: 13px;
}

.errDivInvisible{
  width: 0px;
  height: 0px;
  opacity: 0;
}

.checkboxContainer{
  /* border: 1px solid red; */
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.termsandpolicytext{
  color: #3c3c3c;
  word-wrap: break-word;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  width: 300px;
}

.buttonContainer{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
}

.button{
  border: none;
  background-color: #7246E5;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 400;
  color: white;
  width: 400px;
  padding: 12px;
}

.loggedinContainer{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text{
  margin-right: 1%;
  font-size: 14px;
  line-height: 1.4;
  color: #3c3c3c;
  font-weight: 500;
}

.checkbox{
  width: 16px;
}

@media only screen and (max-width: 800px) {
  .rightSide{
    width: 0px;
  }

  .leftSide{
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .rightSide{
    width: 0px;
  }

  .leftSide{
    width: 100%;
  }

  .facebook{
    width: 300px;
  }

  .google{
    width: 300px;
  }

  .apple{
    width: 300px;
  }

  .input{
    width:300px
  }

  .inputPassword{
    width: 300px;
  }

  .button{
    width: 300px;
  }
}